<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']">
          <img src="https://1.bp.blogspot.com/-VB4jeC7zyd0/YJWRGcDXVZI/AAAAAAAAFgg/47etyklgLrc5hfChNJqjR-DMVSxLCMIVQCLcBGAsYHQ/s600/mascara-spiderman-png-transparente.png" height="50px">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/home']">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Géneros
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li *ngFor="let genero of generos">
                    <a class="dropdown-item" [routerLink]="['/generos', genero.idGenero]">{{genero.nombre}}</a>
                </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Nacionalidad
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li *ngFor="let nac of nacionalidades">
                    <a class="dropdown-item" [routerLink]="['/nacionalidades', nac.idNacionalidad]">
                        {{nac.nombre}} <img [src]="nac.bandera" height="30px">
                    </a>
                </li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" #formBusqueda="ngForm" (ngSubmit)="buscarPeliculas()">
          <input class="form-control me-2" type="search" #cajabusqueda name="cajabusqueda" placeholder="Buscar peliculas" aria-label="Search">
          <button class="btn btn-outline-primary" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>